.photo_gallery {
    /* Prevent vertical gaps */
    line-height: 0;
    column-count:         5;
    column-gap:           6px;  
    /* float: none;
    overflow: hidden; */
}

img {
    margin: 3px;
}


.gallery_title_bar {
    /* float: right; */
    margin-top: 20px;
    /* margin-right: -6%; */
    padding-right: 200px;
    padding-left: 20px;
    height: fit-content;
    width: fit-content;
    /* width: 10%; */
    font-family: 'Newsreader', serif;
    font-weight: 700;
    color: white;
    font-size: 80px;
    line-height: 100px;
    background-color: #2dbd69;
}