.info_popup_hidden {
    display: none;
}

.info_popup_show {
    width: fit-content;
    height: fit-content;
    text-align: left;
    position: absolute;
    background-color: white;
    font-size: 40px;
    padding: 20px 10px 10px 10px;
    font-family: 'Newsreader', serif;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    z-index: 999;
}

.locationMarker {
    cursor: pointer;
    z-index: 99;
}

.locationLink {
    text-decoration: none;
    color: white;
}

.MarkerImage {
    margin-top: 10px;
    width: 100%;
    height: auto;
}