.locations_title_bar {
    margin-top: 100px;
    margin-right: -6%;
    padding-right: 200px;
    padding-left: 20px;
    height: fit-content;
    width: fit-content;
    font-family: 'Newsreader', serif;
    font-weight: 700;
    color: white;
    font-size: 80px;
    line-height: 100px;
    background-color: #9b2dbd;
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    top: 0;
    left: 0;
}