.locations_title_bar {
    /* float: right; */
    margin-top: 20px;
    margin-right: -6%;
    padding-right: 20%;
    padding-left: 20px;
    height: fit-content;
    width: 10%;
    font-family: 'Newsreader', serif;
    font-weight: 700;
    color: white;
    font-size: 80px;
    line-height: 100px;
    background-color: #9b2dbd;
}