.PhotoInput-title {
    color: black;
}

.PhotoInput-TitlePrev{
    width: 420px;
    height: 50px;
    font-size: 30px;
    position: relative;
    text-align: center;
    color: white;
    bottom: 60px;
    font-family: 'Newsreader', serif;
    line-height: 50px;
}

.PhotoInput-ImagePrev{
    width: 400px;
    box-shadow: 0 0 10px -5px black;
    margin-left: 10px;
}

.PhotoInput-PrevContainer {
    width: fit-content;
    height: fit-content;
}

.PhotoInput-Grid {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 40% 30% 20%;
}

.formGrid {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 10% auto;
}


.PhotoInput-TextInput {
    width: 200px;
    height: 30px;
}

.PhotoInput-DescriptionInput {
    width: 200px;
    height: 100px;
}

.PhotoInput-Slider{
    margin-top: 20px;
    width: 200px;
}


.gridItem {
    display: inline-grid;
}

.addPhoto {
    height: 50px;
    font-size: 20px;
    align-items: center;
    display: block;
}